<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>韩熙抽奖后台</title>
    <meta name="viewport" content="width=device-width">
    @Styles.Render("~/Content/css/DashBroad")
    @Scripts.Render("~/bundles/DashBroad")
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo"><h1>Dashboard - Hancy</h1></div>
        </div>
    </div><div class="template-page-wrapper">
        <div class="navbar-collapse collapse templatemo-sidebar">
            <ul class="templatemo-sidebar-menu">
                <li class="active"><a href="@Url.Action("PrizeList","DashBroad")"><i class="fa fa-home"></i>奖品列表</a></li>
                <li><a href="@Url.Action("RewardList", "DashBroad")"><i class="fa fa-cubes"></i>获奖列表</a></li>
                <li><a href="@Url.Action("MemberList", "DashBroad")"><i class="fa fa-map-marker"></i>会员列表</a></li>
                <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出</a></li>
            </ul>
        </div><!--/.navbar-collapse -->

        <div class="templatemo-content-wrapper">
            @RenderBody()
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="sign-in.html" class="btn btn-primary">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="templatemo-footer">
            <div class="templatemo-copyright">
                <p>Copyright &copy; 2015 Hancy Pruduct</p>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
