<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 活动专题</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="headImg">
        <img src="~/Content/Images/HeaderImg.png" width="100%"/>
    </div>
    <div class="container body-content form-horizontal">
        @RenderBody()
        @*<hr />
    <footer>
        <p>&copy;  </p>
    </footer>*@
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
